.container{
    display: grid;
    grid-template-areas: 
    'navbar navbar navbar navbar'
    'menu content content content'
    'menu content content content';
}

.navbar{
    grid-area: navbar;
    background-color: #df3a13;
}
.menu{
    grid-area: menu;
    background-color: #2a373d;
    height: 30rem;
}
.content{
    grid-area: content;
    background-color: #f0f0f0;
}
.footer{
    grid-area: footer;
    background-color: #49403d;
}

@media only screen and (max-width:650px){
    .container{
        display: grid;
        grid-template-areas: 
        'navbar navbar navbar navbar'
        'content content content content'
        'content content content content'
        'menu menu menu menu'
        'footer footer footer footer';
    }
    
}
@media only screen and (min-width:650px){
    .container{
        display: grid;
        grid-template-areas: 
        'navbar navbar navbar navbar navbar navbar navbar navbar'
        'menu content content content content content content content'
        'menu content content content content content content content'
        'footer footer footer footer footer footer footer footer ';
    }
}